#head { padding:5% } 
#head .lead { text-align:center; font-family:"Open sans", Helvetica, Arial; font-size:28px; color:black; line-height:1.15em; } 
header { padding: 154px 0 100px; }
.navigation { background-color: #f18973;}